<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=DESKTOP-4VCEOPG\SQLEXPRESS;Initial Catalog=InfoGeo;Integrated Security=False;User ID=VsUser; PWD=VsUser12" name="ConexionBD" ></add>
	</connectionStrings>
</configuration>