<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interfaces.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>1AQAANCMnd8BFdERjHoAwE/Cl+sBAAAAoCHoofX46EmBDG0vCmieywQAAAACAAAAAAAQZgAAAAEAACAAAACKrCpw4on8HPfHM+Pw/YFFG7FQPZ0f4aVVaXWGneu0hQAAAAAOgAAAAAIAACAAAAAJt1qDGOrzE1IP0E1gWMJKKcaK43J0rPercloJjAV2PMABAAAfXnZPwzEUB77E+DGZ8dZJoRnYZM5ocEY1UIivIyVF4V9pU8/7NvRlONFcGL2i2ggi/bpIbzA0wmWIfATST/DHG9OsVYcD3/NHcK0lra0Is84DUDwnHONah+Q1RVFaMD/Lu5vUOepF82cgLTVKmPd1CcOPHS0cyujZxqW1JFQ9pKIjocjKiKrKpdJylNZmlJD0uKey9gWHZkH5HBCI0CkW7WAFZNx/nX0Km3iMApmOHh0BpOb3bKKthj8d0tTYn/R+44WuKP90e9+ObYGWej46xyviUkMBD9WKkcakRLYfPcbTR6+J1rmd+Ny34l8hyfiNvApGgAisuFxG/Nvr1AMI1kuHQj8EuBJm2lXQqQAhPTkd19e7YdxJWvMRX0KEWcpM5od6ujR0hBA3PiNihWJI1tGCOOgvjljWVhQY1CyM35U4mWUn6duw7IeYiCMZoC+mn80Yoq9VcLiBJq/PqW+81u1HhHwDwXWWHn6zb6CvmjYn48khNNdGhnKl30ie1EaO+86zIh/frkP68eXCIF+XWwsZ3l2huSVkEsygDtOcZNSlco9BF8PpSnv1dI4ifC5L/yxEI3aIREID9NvG88JXQAAAAImvaTogpZHzhsEM5anQ1bzRDbF0+xoiCj1G8dHwnxWaJDAbLClcDV59eIR+iwiZNW6UEO+HzfnQM5Dvpivy/Ko=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <applicationSettings>
        <Interfaces.Properties.Settings>
            <setting name="StyleJuanma" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="ThemeJuanma" serializeAs="String">
                <value>Dark</value>
            </setting>
        </Interfaces.Properties.Settings>
    </applicationSettings>
</configuration>